body {
  text-align: center;
  font-family: Arial;
}

#game {
  width: 600px;
  height: 200px;
  margin: auto;
  background: lightblue;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
}

#player {
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#obstacle {
  width: 40px;
  height: 40px;
  background: black;
  position: absolute;
  bottom: 0;
  right: -40px;
}